@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: url('~assets/fonts//HelveticaNeueLt.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 300;
  font-style: normal;
  src: url('~assets/fonts//HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts//HelveticaNeueBd.ttf') format('truetype');
}
:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  font-family: 'HelveticaNeue', 'Verdana', 'Geneva';
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left-col {
  width: 100%;
  padding: 0 24px;

  @include md {
    width: 50%;
    padding: 0 78px;
  }
}
.right-col {
  display: none;
  position: fixed;
  width: 50%;
  height: 100vh;
  left: 50%;
  top: 0;
  background-position: center;
  background-size: cover;
  transition: background-image 0.6s ease-out;
  @include md {
    display: flex;
  }
}
.img-wrapper {
  display: flex;
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.hide-on-large {
  @include md {
    display: none !important;
  }
}
.hide-on-small {
  display: none !important;
  @include md {
    display: inherit !important;
  }
}
.hidden-sm {
  display: none;
  @include sm {
    display: inherit !important;
  }
}
.boxed {
  border: 1px solid $colorDark;
  padding: 0 6px;
}
.no-scroll {
  overflow: hidden;
}
.menu-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding-left: 16px;
    border-left: 3px solid $colorTurq;
    letter-spacing: 0.2rem;
    color: $colorGrey;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
  ul {
    margin: 0;
    list-style-type: none;
    li {
      text-transform: none;
      border: 0;
    }
  }
}

.show-enter-active,
.show-leave-enter {
  transform: translateX(0);
  transition: all 0.3s linear;
}
.show-enter,
.show-leave-to {
  transform: translateX(100%);
}
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s;
}
.modal-enter,
.modal-leave-to {
  opacity: 0;
}
