@font-face {
  font-family: HelveticaNeue;
  font-weight: 400;
  src: url('~assets/fonts//HelveticaNeue.ttf');
}
@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url('~assets/fonts//HelveticaNeueBd.ttf');
}
@font-face {
  font-family: HelveticaNeue;
  font-weight: 300;
  src: url('~assets/fonts//HelveticaNeueLt.ttf') ;
}


body {
  font-family: 'Archivo Narrow';
  font-family: HelveticaNeue;

}
.uppercase {
  text-transform: uppercase;
}
.hidden-sm {
  display: none;
  @include sm {
    display: inherit;
  }

}
